<section class="s1" id="contract-work">
    <div class="main-container">
        <h3 class="text-center">Contract Work</h3>
        <div class="project-wrapper">
            <div>
                <div class="project">
                    <img class="thumbnail" src="images/project2.webp" alt="project2">
                    <div class="project-preview">
                        <h6 class="project-title">
                            Bussiness Website
                            <span class="project-tag tag-web">Website</span>
                        </h6>
                        <p class="project-info">
                            A React Website created using Create-react-app.
                        </p>
                        <a target="_blank" href="https://infinityally.com/">Check Live!</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="project">
                    <img class="thumbnail" src="images/JIN.webp" alt="project3">
                    <div class="project-preview">
                        <h6 class="project-title">
                            Professional App
                            <span class="project-tag tag-android">Android</span>
                        </h6>
                        <p class="project-info">
                            Android App Designed, built & mantained by our team.
                        </p>
                        <a target="_blank"
                            href="https://play.google.com/store/apps/details?id=in.jinreflexology.reflexologys&hl=en_US">Install
                            Now!</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="project">
                    <img class="thumbnail" src="images/project1.webp" alt="project1">
                    <div class="project-preview">
                        <h6 class="project-title">
                            Landing Page
                            <span class="project-tag tag-web">Website</span>
                        </h6>
                        <p class="project-info">
                            A SPA with PWA functionality using Create-react-app.
                        </p>
                        <a target="_blank" href="https://yogsadhna.netlify.app/">Check Live!</a>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>