<section class="education-section" id="education">
    <div class="main-container">
        <h3 class="text-center">Education</h3>
        <div class="education-grid">
            <div class="education-item">
                <h5 class="school">California State University, Fullerton</h5>
                <p class="degree">Master's degree, Computer Science</p>
                <p class="duration">August 2024 - May 2026</p>
                <p class="location">Fullerton, California</p>
            </div>

            <div class="education-item">
                <h5 class="school">Government College of Engineering Aurangabad</h5>
                <p class="degree">Bachelor's degree, Computer Science</p>
                <p class="duration">AUG 2016 - MAY 2020</p>
                <p class="location">Aurangabad, Maharashtra, India</p>
            </div>
        </div>
    </div>
</section>