<section class="bg-gray-50 py-12 sm:py-16 lg:py-20" id="experience">
    <div class="w-11/12 max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <h3 class="text-center text-3xl font-russo-one text-gray-800">Professional Experience</h3>
        <p class="text-center text-gray-600 mt-4 text-lg">A timeline of my professional journey in software
            engineering</p>

        <div class="relative w-full mt-12 mx-auto p-0 sm:pl-12">
            <div class="absolute left-4 top-10 bottom-10 w-0.5 bg-gray-600 z-0"></div>

            <div class="mb-16 relative">
                <div
                    class="absolute left-[-9px] top-2 w-6 h-6 rounded-full bg-blue-500 border-2 border-gray-600 z-10">
                </div>
                <div class="ml-10 bg-white rounded-lg p-8 shadow-md border border-gray-600">
                    <h4 class="text-gray-800 text-xl font-bold">Senior Android Engineer</h4>
                    <h5 class="text-gray-600 text-lg">Carnot Technologies Private Limited</h5>
                    <p class="text-gray-600 text-sm mt-2">September 2022 - July 2024 (1 year 11 months) • Mumbai,
                        Maharashtra, India</p>
                    <ul class="mt-4 list-none pl-0">
                        <li class="text-gray-600 mb-4 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Led a team of 2 developers in adopting Model View ViewModel Architecture for three
                            projects, leading to a 9% reduction in development time, a 15% improvement in code
                            quality, and an estimated cost saving of $1000/month.
                        </li>
                        <li class="text-gray-600 mb-4 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            By converting the app into a Multi-Module project, we streamlined its structure, improved
                            code maintainability, and facilitated independent testing, which achieved over 1 Million
                            downloads on the Google Play Store.
                        </li>
                        <li class="text-gray-600 mb-4 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Enhanced user experience and application resilience by implementing offline-first
                            functionality. Refined data models for efficient local storage and synchronized data with a
                            backend server using WorkManager, ensuring seamless operation even in low-connectivity
                            environments.
                        </li>
                        <li class="text-gray-600 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Developed a unified internal SDK for themes and standard UI components, ensuring consistent
                            design and branding across the company's apps.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mb-16 relative">
                <div
                    class="absolute left-[-9px] top-2 w-6 h-6 rounded-full bg-blue-500 border-2 border-gray-600 z-10">
                </div>
                <div class="ml-10 bg-white rounded-lg p-8 shadow-md border border-gray-600">
                    <h4 class="text-gray-800 text-xl font-bold">Android Engineer</h4>
                    <h5 class="text-gray-600 text-lg">Carnot Technologies Private Limited</h5>
                    <p class="text-gray-600 text-sm mt-2">January 2021 - August 2022 (1 year 8 months) • Mumbai,
                        Maharashtra, India</p>
                    <ul class="mt-4 list-none pl-0">
                        <li class="text-gray-600 mb-4 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Leveraged the Baseline Profile method to pre-compile critical app code paths, reducing
                            average app startup time by 27%. This optimization minimized perceived load times, enhancing
                            user experience and significantly boosting user engagement.
                        </li>
                        <li class="text-gray-600 mb-4 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Executed the seamless Integration of a third-party application, achieving a remarkable 90%
                            reduction in development time, which allowed for the rapid deployment of new features and
                            enhancements to existing products.
                        </li>
                        <li class="text-gray-600 mb-4 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Gradle Version Catalogs were introduced to simplify and standardize Dependency Management
                            across a Multi-Module project. This approach centralized dependency definitions, ensuring
                            consistent versioning and reducing maintenance overhead for 11 active modules, ultimately
                            improving project scalability and developer efficiency.
                        </li>
                        <li class="text-gray-600 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Successfully migrated the project from Java to Kotlin and from RxJava to Kotlin coroutines,
                            resulting in cleaner, more concise, and more Kotlin-idiomatic code.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="relative">
                <div
                    class="absolute left-[-9px] top-2 w-6 h-6 rounded-full bg-blue-500 border-2 border-gray-600 z-10">
                </div>
                <div class="ml-10 bg-white rounded-lg p-8 shadow-md border border-gray-600">
                    <h4 class="text-gray-800 text-xl font-bold">Software Engineer</h4>
                    <h5 class="text-gray-600 text-lg">ElasticRun</h5>
                    <p class="text-gray-600 text-sm mt-2">June 2020 - January 2021 (8 months) • Pune, Maharashtra,
                        India</p>
                    <ul class="mt-4 list-none pl-0">
                        <li class="text-gray-600 mb-4 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Ensured smooth software operations by conducting thorough sanity testing and efficient
                            software deployment, which contributed to overall system stability and enhanced customer
                            satisfaction.
                        </li>
                        <li class="text-gray-600 pl-8 relative">
                            <span class="absolute left-0 top-2 w-2 h-2 bg-gray-600 rounded-full"></span>
                            Proactively addressed technical issues by effectively troubleshooting and managing support
                            tickets, demonstrating strong problem-solving skills and a commitment to excellent customer
                            service.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>