<section class="s1" id="home">
    <div class="main-container">
        <div class="greetings">
            <h1>Hi, I am Pushkar Agnihotri</h1>
        </div>
        <div class="intro-wrapper">
            <div class="nav-wrapper">
                <div class="dots-wrapper">
                    <div id="dot-1" class="browser-dot"> </div>
                    <div id="dot-2" class="browser-dot"></div>
                    <div id="dot-3" class="browser-dot"></div>
                </div>
                
            </div>
            <div class="left-column">
                <img id="profile-pic" src="images/profile.webp" alt="profile pic">
                <h5 class="text-center-no-line-height">Get In Touch</h5>
                    <p class="text-center">LinkedIn:<a target="_blank" href="https://www.linkedin.com/in/pushkaragnihotri/">
                                @pushkaragnihotri</a></p>
                     <p class="text-center">GitHub:<a target="_blank" href="https://github.com/agnihotripushkar"> @agnihotripushkar</a></p>
                     <p class="text-center">Email:<a href="mailto:push@csu.fullerton.edu"> push@csu.fullerton.edu</a></p>
                

                <!-- <div id="theme-options-wrapper">
                    <div data-mode="light" id="light-mode" class="theme-dot"></div>
                    <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                    <div data-mode="green" id="green-mode" class="theme-dot"></div>
                    <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                </div> -->

                <!-- <p id="settings-note">*Theme settings will be saved for<br>your next vist</p> -->
            </div>
            <div class="right-column">
                <div id="preview-shadow">
                    <div id="preview">
                        <div id="corner-tl" class="corner"></div>
                        <div id="corner-tr" class="corner"></div>
                        <p>A dedicated Software Engineer with 4+ years of experience in Android development. With a passion for creating intuitive and visually appealing applications, I leverage Kotlin to deliver high-performance mobile experiences.</p>
                        <div id="corner-br" class="corner"></div>
                        <div id="corner-bl" class="corner"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>