<nav class="bg-white text-black p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="nav-logo">
            <a href="#home" class="flex items-center space-x-2">
                <img src="/favicon32.webp" alt="Push1413 Logo" class="h-8 w-8">
                <span class="text-xl font-bold">Push1413</span>
            </a>
        </div>
        <button class="hamburger md:hidden" aria-label="Menu">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
        <div class="nav-links hidden md:flex space-x-4 ">
            <a href="#home" class="hover:text-gray-400">Home</a>
            <a href="#education" class="hover:text-gray-400">Education</a>
            <a href="#skills" class="hover:text-gray-400">Skills</a>
            <a href="#contract-work" class="hover:text-gray-400">Contract Work</a>
            <a href="#personal-projects" class="hover:text-gray-400">Personal Projects</a>
            <a href="#experience" class="hover:text-gray-400">Experience</a>
        </div>
    </div>
</nav>