<section class="projects" id="personal-projects">
    <div class="main-container">
        <h3 class="text-center">Personal Projects</h3>
        <div class="project-wrapper">
            <div>
                <div class="project">
                    <img class="thumbnail" src="images/Anime.webp" alt="AnimeHomepage">
                    <div class="project-preview">
                        <h6 class="project-title">
                            Anime App
                            <span class="project-tag tag-android">Android</span>
                        </h6>
                        <p class="project-info">
                            MVVM Jetpack Compose App using Ktor and Koin.
                        </p>
                        <a target="_blank"
                            href="https://github.com/Push1413/AnimeApp">Analyze the code</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="project">
                    <img class="thumbnail" src="images/rentalHome.webp" alt="rentalHome">
                    <div class="project-preview">
                        <h6 class="project-title">
                            LamaEstate Website
                            <span class="project-tag tag-web">Website</span>
                        </h6>
                        <p class="project-info">
                            A Real Estate Apatment MERN website.  
                        </p>
                        <a target="_blank" href="https://github.com/Push1413/MERN-HomeRentalApp">Inspect the code</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="project">
                    <img class="thumbnail" src="images/Morty.webp" alt="MortyApp">
                    <div class="project-preview">
                        <h6 class="project-title">
                            Rick & Morty App
                            <span class="project-tag tag-android">Android</span>
                        </h6>
                        <p class="project-info">
                            Multi-module MVVM Jetpack Compose App.
                        </p>
                        <a target="_blank" href="https://github.com/Push1413/MortyApp">Dive into the code</a>
                    </div>
                </div>
            </div>
            
        </div>

        </div>
</section>