<section class="s2" id="skills">
    <div class="main-container">
        <div class="about-wrapper">
            <div class="left-content">
                <div class="about-me">
                    <h4>TECHNICAL SKILLS</h4>
                    <div class="skills-container">
                        <div class="skill-chip">Kotlin</div>
                        <div class="skill-chip">Kotlin Multiplatform</div>
                        <div class="skill-chip">Java</div>
                        <div class="skill-chip">React.js</div>
                        <div class="skill-chip">Node.js</div>
                        <div class="skill-chip">Mobile Development</div>
                        <div class="skill-chip">Web Development</div>
                        <div class="skill-chip">Firebase</div>
                        <div class="skill-chip">Git</div>
                        <div class="skill-chip">MVVM</div>
                        <div class="skill-chip">Jetpack Compose</div>
                        <div class="skill-chip">Coroutines</div>
                        <div class="skill-chip">REST APIs</div>
                    </div>
                </div>
                <div class="about-me">
                    <h4>Academics & Achievements</h4>
                    <p>Winner of Smart India Hackathon 2019</p>
                    <p>RunnerUp in Microsoft Hackathon 2.0 in 2018</p>
                </div>
            </div>
            <div class="right-content">
                <div class="certificates">
                    <h4>Certificates</h4>
                    <div class="certificate-list">
                        <div class="certificate-item">
                            <a href="https://www.linkedin.com/learning/certificates/f42348db1d82ca5f0c5fa3743ed7005448dcdf33a4b1bcd4e0abed51cfa7e471?u=52983649" target="_blank">
                                <p>Kotlin Multiplatform Development</p>
                            </a>
                        </div>
                        <div class="certificate-item">
                            <a href="https://www.credly.com/badges/24ada273-5044-4094-8261-c7a43e5d8846/linked_in_profile" target="_blank">
                                <p>AWS Knowledge: Serverless</p>
                            </a>
                        </div>
                        <div class="certificate-item">
                            <a href="https://www.credly.com/badges/de233f46-d6ac-4501-b1ed-117c561153c9/public_url" target="_blank">
                                <p>Generative AI Overview for Project Managers</p>
                            </a>
                        </div>
                        <div class="certificate-item">
                            <a href="https://www.credly.com/badges/8858b6b4-4404-44c8-9b5e-5a14e31d64f3" target="_blank">
                                <p>Google Cloud Computing Foundations Certificate</p>
                            </a>
                        </div>
                        <div class="certificate-item">
                            <a href="https://verify.skilljar.com/c/qos6thbhrm2t" target="_blank">
                                <p>Introduction to FinOps</p>
                            </a>
                        </div>
                        <div class="certificate-item">
                            <a href="https://learning.pmi.org/certificate?id=e030d505-f4e8-4e17-9a49-7f10fb45e3aa" target="_blank">
                                <p>Basics of Disciplined Agile</p>
                            </a>
                        </div>
                        <div class="certificate-item">
                            <a href="https://learning.pmi.org/certificate?id=0ff0485c-b92b-43a8-8ead-4145b4290383" target="_blank">
                                <p>The Basics of Scrum</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>